﻿<?xml version="1.0" encoding="utf-8"?>
<AdaptivBot>

  <GeneralSettings>
    <ExcelExecutablePath>C:\Program Files (x86)\Microsoft Office\root\Office16\Excel.exe</ExcelExecutablePath>
    <AdaptivBotVersion>0.0</AdaptivBotVersion>
  </GeneralSettings>

  <PortfolioAnalysisSettings>
    <UATFolder>\\10952APPJNB0001\PS.Portfolio_Sensitivities\8.Import\New</UATFolder>
    <ProductionFolder>\\10952appprdsdc4\Portfolio Analysis\8.Import\New</ProductionFolder>
  </PortfolioAnalysisSettings>

  <RiskViewSettings>
    <ExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data\{InstrumentBatch}\SBG</ExtractionFolder>
    <FileNameFormat>STBUKTCPROD (Standard Bank Group) (Filtered){dd-mm-yyyy}.csv</FileNameFormat>
  </RiskViewSettings>

  <CustomerLimitUtilisationSettings>
    <ExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data\CustUtil</ExtractionFolder>
    <FileNameFormat>CustomerLimitUtil {dd.mm.yyyy}.xlsx</FileNameFormat>
    <Filters>
      <Filter Field="-" Condition="-" Criteria=""  Conjunction=""/>
      <Filter Field="-" Condition="-" Criteria=""  Conjunction=""/>
      <Filter Field="-" Condition="-" Criteria="" />
    </Filters>
  </CustomerLimitUtilisationSettings>

  <DealRiskCarrierSettings>
    <ExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data\{mmmmyyyy}</ExtractionFolder>
    <FileNameFormat>DRCs {yyyy-mm-dd}.xlsx</FileNameFormat>
    <RiskCarrierFilesFolder>\\pcibtignass1\capr2\RtB\DRC\Upload</RiskCarrierFilesFolder>
  </DealRiskCarrierSettings>
</AdaptivBot>
