<?xml version="1.0" encoding="utf-8"?>
<AdaptivBot>

	<GeneralSettings>
		<ExcelExecutablePath></ExcelExecutablePath>
		<QlikviewUATFolder>\\10952APPJNB0001\PS.Portfolio_Sensitivities\8.Import\New</QlikviewUATFolder>
		<QlikviewProductionFolder>\\10952appprdsdc4\Portfolio Analysis\8.Import\New</QlikviewProductionFolder>
	</GeneralSettings>

	<RiskViewSettings>
		<BaseExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data</BaseExtractionFolder>
		<SubExtractionFolder>[InstrumentBatch]</SubExtractionFolder>
		<FileNameFormat>[InstrumentBatch]</FileNameFormat>
	</RiskViewSettings>

	<CustomerLimitUtilisationSettings>
		<BaseExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data</BaseExtractionFolder>
		<SubExtractionFolder>[InstrumentBatch]</SubExtractionFolder>
		<FileNameFormat>[InstrumentBatch]</FileNameFormat>
		<Filters>
			<Filter Category="-" Operation="-" Criteria=""/>
			<Filter Category="-" Operation="-" Criteria=""/>
			<Filter Category="-" Operation="-" Criteria=""/>
		</Filters>
	</CustomerLimitUtilisationSettings>

	<DealRiskCarrierSettings>
		<BaseExtractionFolder>\\pcibtighnas1\cbsdata\Portfolio Analysis\Data</BaseExtractionFolder>
		<SubExtractionFolder>[InstrumentBatch]</SubExtractionFolder>
		<FileNameFormat>[InstrumentBatch]</FileNameFormat>
	</DealRiskCarrierSettings>
</AdaptivBot>
